body{
background-color: white;
margin: 20px;
cursor: url('./souris.png'),auto;

}
#challenge{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://cdn.shopify.com/s/files/1/0518/5958/7227/files/comp_d5e34704-1d8d-465c-a077-469b15f7c744_x600.png?v=1625005651");
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.304);
    background-blend-mode: lighten;
}
h1#second{
    opacity: 1;
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-shadow: rgb(253, 194, 0) 5px 0 10px;
    
}
h1#premier{
    text-align: center;
    color:rgb(253, 194, 0);
    background-color: rgba(6, 6, 184, 0.852);
    border-radius: 20px;
}

img#portrait{
    width: 275px;
    border-radius: 360px;
    float: inline-end
    /*object-position: right top;*/
}
div#firstDiv{
    display :flex;
    justify-content:space-between
}
div#storyTexte{
    max-width: 70%;
    text-align: left;
    text-align: justify;
}
div#Autoportrait{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    /*float: inline-end*/
    max-width: fit-content;
    
}
*{
   /* outline: 1px dotted;*/
    font-family: "Gill Sans", sans-serif;
}

p#legende{
    max-width: 225px;
    text-align: center;
}

.zoom:hover{
    -ms-transform: scale(1.3); 
    -webkit-transform: scale(1.3); 
    transform: scale(1.3);
}

.cercle{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: auto ;
    text-align: center;
    
}
/*img{
    display: inline-flex;
    justify-content: space-between;
}*/

nav ul{
    margin: 0px;
    padding: 0%;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav li{
    float: left;
    width: 30%;
    text-align: center;
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav{
    margin: 10px;
    background-color: white;
    text-align: center;
}
nav a{
    display: block;
    text-decoration: none;
    color:black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}
div#menu{
    position: sticky;
    top: 0px;
}


div#techniquesTitre{
    text-align: center;
    display: flex;
    justify-content: space-between;
}





.container {
    position: relative;
  }  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(6, 6, 184, 0.514);
    border-radius: 50%;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .leg {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

p#para{
    display: none;
    white-space: pre-wrap;
    max-width: auto;
}
button{
    font-size: x-large;
    color: rgb(253, 194, 0);
    background-color: rgba(6, 6, 184, 0.852);
    border-radius: 5px;
}

#third{
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
#night{
    text-align: left;
    text-align: justify;
    width: 35%;
}
img#nuit{
    /* margin-top: 30px; */
    width: 30%;
    border: 20px ridge rgb(230,230,230);
    
}
.video{
    text-align: center;
}
iframe{
    width: 30%;
    height: 400px;
}
.mag{
    width: 100%;
    height: 600px;
    opacity: 100%;
}



.sparkle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: gold;
    border-radius: 50%;
    animation: fadeOut 1s forwards;
    pointer-events: none;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
} 
